html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.content-width, #projects, #skills, .about, .header__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.accent-color {
  color: #ffd700;
}

.image-with-border {
  border: 5px solid #aec6cf;
}

.mb-sm, #skills .skills__subtitle, #skills .skills__rating-description, .about__subtitle {
  margin-bottom: 16px !important;
}

.mb-lg, #skills, .about {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg, #skills, .about {
    margin-bottom: 150px !important;
  }
}

.mt-sm {
  margin-top: 16px !important;
}

.mt-lg {
  margin-top: 80px !important;
}
@media screen and (min-width: 960px) {
  .mt-lg {
    margin-top: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.font-sm, #skills .skills__description, .about__texts, .sub-title, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
  font-size: 10px;
}
@media screen and (min-width: 960px) {
  .font-sm, #skills .skills__description, .about__texts, .sub-title, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
    font-size: 12px;
  }
}

.font-md, #skills .skills__name {
  font-size: 13px;
}
@media screen and (min-width: 960px) {
  .font-md, #skills .skills__name {
    font-size: 15px;
  }
}

.font-lr, #skills .skills__category > p {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr, #skills .skills__category > p {
    font-size: 23px;
  }
}

.font-lg, .main-title, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
    font-size: 36px;
  }
}

.main-title, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
  color: #535353;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #333333;
  font-weight: 400;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled {
  background-color: black;
  color: #ffffff;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled:hover {
  background-color: #ffffff;
  color: #333333;
  box-shadow: none;
}
.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}
.btn.shadow {
  box-shadow: none;
}
.btn.shadow:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 5px 5px 0 0 black;
}
.btn.solid {
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}
.btn.solid:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(174, 198, 207, 0.8);
  color: #333333;
  z-index: 100;
}
.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 35px;
  font-weight: 600;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__li {
  margin: 10px;
}
.header__li > a {
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

.about {
  margin-top: 115px;
  padding: 15px;
  background-color: #eaebe6;
}
@media screen and (min-width: 600px) {
  .about {
    margin-top: 130px;
    padding: 50px;
  }
}
@media screen and (min-width: 960px) {
  .about {
    padding: 50px 150px;
  }
}
.about__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .about__inner {
    flex-direction: row;
  }
}
#skills .skills__rating-description {
  padding: 15px;
}
#skills .skills__rating-description .star {
  margin-right: 10px;
}
#skills .skills__main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  gap: 20px;
}
#skills .skills__main .skills__frontend {
  border: 3px solid #ddeeff;
  background-color: rgba(221, 238, 255, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__backend {
  border: 3px solid #cce5cc;
  background-color: rgba(204, 229, 204, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__devops {
  border: 3px solid #f7eedb;
  background-color: rgba(247, 238, 219, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__whatsnext {
  border: 3px solid #e8e8e8;
  background-color: rgba(232, 232, 232, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__item {
  padding-top: 10px;
}
#skills .skills__icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
#skills .skills__icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
#skills .skills__certification {
  width: 100%;
  height: 100px;
}/*# sourceMappingURL=style.css.map */