@charset "UTF-8";
html,
body {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.content-width, #contact, #projects, #skills, #about, #footer > .footer__inner, .header__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.accent-color {
  color: #ffd700;
}

.image-with-border {
  border: 5px solid #aec6cf;
}

.mb-sm, #contact, #contact > p, #projects .projects__subtitle, #projects .projects__inner .projects__item, #skills .skills__subtitle, #skills .skills__rating-description, .about__subtitle {
  margin-bottom: 16px !important;
}

.mb-lg, #projects, #skills, #about {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg, #projects, #skills, #about {
    margin-bottom: 150px !important;
  }
}

.mt-sm, #projects .projects__inner .projects__name {
  margin-top: 16px !important;
}

.mt-lg {
  margin-top: 80px !important;
}
@media screen and (min-width: 960px) {
  .mt-lg {
    margin-top: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.font-sm, #projects .projects__inner .projects__name, #skills .skills__description, .about__texts, .hover-link__button, .hover-link__button--icon, .sub-title, #contact > p, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
  font-size: 10px;
}
@media screen and (min-width: 960px) {
  .font-sm, #projects .projects__inner .projects__name, #skills .skills__description, .about__texts, .hover-link__button, .hover-link__button--icon, .sub-title, #contact > p, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
    font-size: 12px;
  }
}

.font-md, #skills .skills__name {
  font-size: 13px;
}
@media screen and (min-width: 960px) {
  .font-md, #skills .skills__name {
    font-size: 15px;
  }
}

.font-lr, #skills .skills__category > p {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr, #skills .skills__category > p {
    font-size: 23px;
  }
}

.font-lg, #footer > .footer__inner > .logo, .logo, .main-title, #contact > h2, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, #footer > .footer__inner > .logo, .logo, .main-title, #contact > h2, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
    font-size: 36px;
  }
}

.logo {
  display: flex;
}
.logo__img {
  width: 1.2em;
}

.main-title, #contact > h2, #projects .projects__maintitle, #skills .skills__maintitle, .about__maintitle {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title, #contact > p, #projects .projects__subtitle, #skills .skills__subtitle, .about__subtitle {
  color: #535353;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #333333;
  font-weight: 400;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled {
  background-color: black;
  color: #ffffff;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled:hover {
  background-color: #ffffff;
  color: #333333;
  box-shadow: none;
}
.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}
.btn.shadow {
  box-shadow: none;
}
.btn.shadow:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 5px 5px 0 0 black;
}
.btn.solid {
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}
.btn.solid:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
.img-zoom {
  opacity: 0;
}
.inview .img-zoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .img-zoom:hover {
  transform: scale(1.05);
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.hover-link {
  position: relative;
}
.hover-link__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 16px; /* ボタン間の余白 */
  opacity: 0;
  z-index: 3;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.hover-link:hover .hover-link__buttons {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.hover-link__button, .hover-link__button--icon {
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 6px 12px;
  border: 1px solid black;
}
@media screen and (min-width: 600px) {
  .hover-link__button, .hover-link__button--icon {
    padding: 12px 24px;
  }
}
.hover-link__button:hover, .hover-link__button--icon:hover {
  color: white;
  background-color: black;
  border-color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.hover-link__button:active, .hover-link__button--icon:active {
  transform: translateY(0);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.hover-link__button--icon {
  display: inline-flex; /* アイコンとテキストを横並びに */
  align-items: center; /* 中央揃え */
  gap: 10px; /* アイコンとテキストの余白 */
}
.hover-link__button--icon i {
  font-size: 1.2em; /* アイコンサイズ */
}

#container {
  position: relative;
  padding-top: 100px;
  transition: transform 0.7s, box-shadow 0.7s;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 300px;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0.7s;
  cursor: pointer;
  z-index: 200;
}
.mobile-menu__main {
  padding: 0;
  transform: translate(300px, -60px);
  transition: transform 0.7s;
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  list-style: none;
  padding-left: 40px;
  transform: translate3d(0, 0, -1000px);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}
.mobile-menu__link {
  text-decoration: none !important;
  color: #333333;
}
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.menu-open #container {
  transform: translate(-300px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__main {
  transform: none;
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.28s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.35s;
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(174, 198, 207, 0.8);
  color: #333333;
  z-index: 100;
}
.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.header__li > a {
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

#footer {
  background-color: #eaebe6;
}
#footer > .footer__inner {
  padding: 60px 0;
}
#footer > .footer__inner > .logo {
  justify-content: center;
}

.copyright {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.about {
  background-color: #eaebe6;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .about {
    padding: 50px;
  }
}
@media screen and (min-width: 960px) {
  .about {
    padding: 50px 150px;
  }
}
.about__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .about__inner {
    flex-direction: row;
  }
}
.about__img {
  background-color: #aec6cf;
}
#skills .skills__rating-description {
  padding: 15px;
}
#skills .skills__rating-description .star {
  margin-right: 10px;
}
#skills .skills__main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  gap: 20px;
}
#skills .skills__main .skills__frontend {
  border: 3px solid #ddeeff;
  background-color: rgba(221, 238, 255, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__backend {
  border: 3px solid #cce5cc;
  background-color: rgba(204, 229, 204, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__devops {
  border: 3px solid #f7eedb;
  background-color: rgba(247, 238, 219, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__main .skills__whatsnext {
  border: 3px solid #e8e8e8;
  background-color: rgba(232, 232, 232, 0.5);
  padding: 15px;
  border-radius: 10%;
}
#skills .skills__item {
  padding-top: 10px;
}
#skills .skills__icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
#skills .skills__icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
#skills .skills__certification {
  width: 100%;
  height: 100px;
}

#projects .projects__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  #projects .projects__inner {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #projects .projects__inner .projects__item {
    max-width: 49%;
  }
}

#contact {
  text-align: center;
  padding: 2rem;
  position: relative;
  border-top: 1px solid black;
}
#contact > h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  background-color: #ffffff;
}
.email {
  text-decoration: none;
  color: #333333;
}
.email > i {
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */